{% extends "index.html" %}
{% block wrapper %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="panel-title">修改密码</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" id="user_form">
                            {% csrf_token %}
                            {% if error %}
                                {{ error }}
                            {% endif %}
                            <input type="text" name="username" value="{{ user }}" style="display: none">
                            <p>为用户 <strong>{{ user }}</strong> 输入一个新的密码。</p>
                            <fieldset class="module aligned">
                                <div class="form-group">
                                    <h5 class="required" for="id_password1">密码:</h5>
                                    <input type="password" name="password1" autofocus="" required="" id="id_password1" value="{{ password.password1 }}" pattern="^[a-zA-Z]\w{7,17}$">
                                    <div class="help">密码限制：以字母开头，长度在8~18之间，只能包含字母、数字和下划线</div>
                                </div>
                                <div class="form-group">
                                    <h5 class="required" for="id_password2">密码(重复):</h5>
                                    <input type="password" name="password2" required="" id="id_password2" value="{{ password.password1 }}" pattern="^[a-zA-Z]\w{7,17}$">
                                    <div class="help">为了校验，请输入与上面相同的密码。</div>
                                </div>
                            </fieldset>
                            <div class="submit-row">
                                <input type="submit" value="修改密码" class="default">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}